#adjust for case sensitivity in files
CheckCaseOnly On

#rewrite all requests to index file
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

php_flag display_startup_errors on
php_flag display_errors on
php_value include_path ".:../"

#deny config.json access
<FilesMatch "config.json$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

#enable CORS
#Header set Access-Control-Allow-Origin "http://web.melodic.dev"